@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
}

#root {
  height: 100vh;
}

@layer components {
  * {
    color: white;
  }

  .highlight-white {
    box-shadow:  inset 0 1px 0 0 #ffffff1a;
  }
}

